@import "styles/header.scss";
@import "styles/navbar.scss";
@import "styles/banner.scss";
@import "styles/about.scss";
@import "styles/menuDescription.scss";

* {
  font-family: "Cormorant", serif;
}

.page {
  background: #e5e5e5;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
  overflow: hidden;
}

@media (max-width: 1440px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
